/T2207E_Java2_Ngay01_GUI/nbproject/private/
/T2207E_Java2_Ngay01_GUI/build/
/T2207E_Java2_Ngay01/build/
/T2207E_Java2_Ngay01/nbproject/private/
/T2207M_Java2_Ngay02_ComboBox_Menu_Panels_Table/T2207M_Java2_Ngay02_ComboBox_Menu_Panels_Table/nbproject/private/
/T2207M_Java2_Ngay02_ComboBox_Menu_Panels_Table/T2207E_Java2_Ngay02/nbproject/private/
/T2207E_Java2_Ngay02_ComboBox_Menu_Panels_Table/T2207E_Java2_Ngay02/nbproject/private/
/T2207E_Java2_Ngay02_ComboBox_Menu_Panels_Table/T2207M_Java2_Ngay02_ComboBox_Menu_Panels_Table/nbproject/private/
/T2207E_Java2_Ngay02_ComboBox_Menu_Panels_Table/Chuabaitap_Quanlydanhba_Ngay02/build/
/T2207E_Java2_Ngay02_ComboBox_Menu_Panels_Table/Chuabaitap_Quanlydanhba_Ngay02/nbproject/private/
/T2207E_Java2_Ngay02_ComboBox_Menu_Panels_Table/T2207E_Java2_Ngay02.1/nbproject/private/
/T2207E_Java2_Ngay02_ComboBox_Menu_Panels_Table/T2207M_Java2_Ngay02.2/nbproject/private/
/T2207E_Java2_Ngay04/T2207E_Java2_Ngay04_DocghiFile/nbproject/private/
/T2207E_Java2_Ngay04/T2207E_Java2_Ngay04_DocghiFile/build/
/T2207E_Java2_Ngay04/T2207E_Java2_Ngay04_DocghiFile/dist/
/T2207E_Java2_Ngay05_MultiThread/build/
/T2207E_Java2_Ngay05_MultiThread/nbproject/private/
/T2207E_Java2_Ngay04/Baitap/T2207E_Java2_Ngay05_Quanlydanhba/build/
/T2207E_Java2_Ngay04/Baitap/T2207E_Java2_Ngay05_Quanlydanhba/nbproject/private/
/T2207E_Java2_Ngay04/Baitap/thaychuabt_Quanlydanhba_openfilekhimomay/build/
/T2207E_Java2_Ngay04/Baitap/thaychuabt_Quanlydanhba_openfilekhimomay/nbproject/private/
/T2207E_Java2_Ngay06_JDBC_Xemtruoc/Java_KetnoiCSDL_01/build/
/T2207E_Java2_Ngay06_JDBC_Xemtruoc/Java_KetnoiCSDL_01/nbproject/private/
/T2207E_Java2_Ngay06_JDBC_Xemtruoc/Java_KetnoiCSDL_02_Them_Sua_Xoa/DemoJDBC/build/
/T2207E_Java2_Ngay06_JDBC_Xemtruoc/Java_KetnoiCSDL_02_Them_Sua_Xoa/DemoJDBC/nbproject/private/
/T2207E_Java2_Ngay06_JDBC_Xemtruoc/Java_KetnoiCSDL_03_MVC/DemoJDBC_MVC/build/
/T2207E_Java2_Ngay06_JDBC_Xemtruoc/Java_KetnoiCSDL_03_MVC/DemoJDBC_MVC/dist/
/T2207E_Java2_Ngay06_JDBC_Xemtruoc/Java_KetnoiCSDL_03_MVC/DemoJDBC_MVC/nbproject/private/
/T2207E_Java2_Ngay06_JDBC/Java_KetnoiCSDL_01/build/
/T2207E_Java2_Ngay06_JDBC/Java_KetnoiCSDL_01/nbproject/private/
/T2207E_Java2_Ngay06_JDBC/Java_KetnoiCSDL_02_Them_Sua_Xoa/DemoJDBC/build/
/T2207E_Java2_Ngay06_JDBC/Java_KetnoiCSDL_02_Them_Sua_Xoa/DemoJDBC/nbproject/private/
/T2207E_Java2_Ngay06_JDBC/Java_KetnoiCSDL_03_MVC/DemoJDBC_MVC/build/
/T2207E_Java2_Ngay06_JDBC/Java_KetnoiCSDL_03_MVC/DemoJDBC_MVC/dist/
/T2207E_Java2_Ngay06_JDBC/Java_KetnoiCSDL_03_MVC/DemoJDBC_MVC/nbproject/private/
/T2207E_Java2_Ngay7_Ketnoi2Bang_bai2_QuanlySinhvien/nbproject/private/
/T2207E_Java2_Ngay7_Ketnoi2Bang_bai1_QuanlyLophoc/nbproject/private/
/T2207E_Java2_Ngay07_JDBC_CRUD/Java_KetnoiCSDL_02_Them_Sua_Xoa/DemoJDBC/build/
/T2207E_Java2_Ngay07_JDBC_CRUD/Java_KetnoiCSDL_02_Them_Sua_Xoa/DemoJDBC/nbproject/private/
/T2207E_Java2_Ngay07_JDBC_CRUD/Java_KetnoiCSDL_03_MVC/DemoJDBC_MVC/build/
/T2207E_Java2_Ngay07_JDBC_CRUD/Java_KetnoiCSDL_03_MVC/DemoJDBC_MVC/dist/
/T2207E_Java2_Ngay07_JDBC_CRUD/Java_KetnoiCSDL_03_MVC/DemoJDBC_MVC/nbproject/private/
/T2207E_Java2_Ngay08/CSDL_Hinhanh/build/
/T2207E_Java2_Ngay08/CSDL_Hinhanh/nbproject/private/
/T2207E_Java2_Ngay08/T2207E_Java2_Ngay08_Kiemtra_Xoalophoc/build/
/T2207E_Java2_Ngay08/T2207E_Java2_Ngay08_Kiemtra_Xoalophoc/dist/
/T2207E_Java2_Ngay08/T2207E_Java2_Ngay08_Kiemtra_Xoalophoc/nbproject/private/
/T2207E_Java2_Ngay08/T2207E_Java2_Ngay08_Thamchieu/build/
/T2207E_Java2_Ngay08/T2207E_Java2_Ngay08_Thamchieu/dist/
/T2207E_Java2_Ngay08/T2207E_Java2_Ngay08_Thamchieu/nbproject/private/
/T2207E_Java2_Ngay08/T2207E_Java2_Ngay8_Sua_lLop_CSDL/build/
/T2207E_Java2_Ngay08/T2207E_Java2_Ngay8_Sua_lLop_CSDL/nbproject/private/
/T2207E_Java2_Ngay08/CSDL_Hinhanh/dist/
/T2207E_Java2_Ngay9/nbproject/private/
/T2207E_Java2_Ngay9/build/
/Baithithu_Java2/nbproject/private/
/Baithithu_Java2/build/
/Exam01/build/
/Exam01/nbproject/private/
/Baithuthu__Java2_Quy/build/
/Baithuthu__Java2_Quy/nbproject/private/
/BaiThi_Java2_13032023/nbproject/private/
